.DS_Store
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
Vagrant_Debian8.box
.vagrant
/resources/assets/sass/bootstrap
/resources/assets/sass/bourbon
/resources/assets/js/jquery/
/resources/assets/js/jquery-easing/