// Paper 3.3.5
// Bootswatch
// -----------------------------------------------------

$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" !default;
@import url($web-font-path);

html,
body {
    width: 100%;
    height: 100%;
}

@import "theme/navbar";
@import "theme/buttons";
@import "theme/typography";
@import "theme/tables";
@import "theme/forms";
@import "theme/navs";
@import "theme/indicators";
@import "theme/progressbars";
@import "theme/containers";
@import "theme/states";

@import "theme/layout";