// Buttons ====================================================================

@mixin btn($class,$bg){
  .btn-#{$class} {
    background-size: 200% 200%;
    background-position: 50%;

    &:focus {
      background-color: $bg;
    }

    &:hover,
    &:active:hover {
      background-color: darken($bg, 6%);
    }

    &:active {
      background-color: darken($bg, 12%);
      @include gradient-radial(darken($bg, 12%) 10%, $bg 11%);
      background-size: 1000% 1000%;
      @include box-shadow(2px 2px 4px rgba(0,0,0,.4));
    }
  }
}

@include btn(default,$btn-default-bg);
@include btn(primary,$btn-primary-bg);
@include btn(success,$btn-success-bg);
@include btn(info,$btn-info-bg);
@include btn(warning,$btn-warning-bg);
@include btn(danger,$btn-danger-bg);
@include btn(link,#fff);

.btn {
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 0;
  @include box-shadow(1px 1px 4px rgba(0,0,0,.4));
  @include transition(all .3s ease-in-out);

  &-link {
    border-radius: $btn-border-radius-base;
    @include box-shadow(none);
    color: $btn-default-color;

    &:hover,
    &:focus {
      @include box-shadow(none);
      color: $btn-default-color;
      text-decoration: none;
    }
  }

  &-default {

    &.disabled {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.4);
      opacity: 1;
    }
  }
}

.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: 0;
  }

  &-vertical {
    > .btn + .btn,
    > .btn + .btn-group,
    > .btn-group + .btn,
    > .btn-group + .btn-group {
      margin-top: 0;
    }
  }
}

.btn-outline {
  border: 1px solid $brand-primary;
  color: $brand-primary;
  background-color: transparent;
  box-shadow: none;
  &:hover,
  &:focus {
      border: 1px solid $brand-primary;
      outline: none;
      color: white;
      background-color: $brand-primary;
  }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    box-shadow: none;
    font-size: 40px;
    color: white;
    background: transparent;
    @include transition(background .3s ease-in-out);
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}